<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Cart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductList</display-name>
    <servlet-name>ProductList</servlet-name>
    <servlet-class>com.cart.servlet.ProductList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductList</servlet-name>
    <url-pattern>/ProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginVerify</display-name>
    <servlet-name>LoginVerify</servlet-name>
    <servlet-class>com.cart.servlet.LoginVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginVerify</servlet-name>
    <url-pattern>/LoginVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderItem</display-name>
    <servlet-name>AddOrderItem</servlet-name>
    <servlet-class>com.cart.servlet.AddOrderItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderItem</servlet-name>
    <url-pattern>/AddOrderItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOrderItem</display-name>
    <servlet-name>ListOrderItem</servlet-name>
    <servlet-class>com.cart.servlet.ListOrderItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrderItem</servlet-name>
    <url-pattern>/ListOrderItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderItem</display-name>
    <servlet-name>DeleteOrderItem</servlet-name>
    <servlet-class>com.cart.servlet.DeleteOrderItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderItem</servlet-name>
    <url-pattern>/DeleteOrderItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOrder</display-name>
    <servlet-name>CreateOrder</servlet-name>
    <servlet-class>com.cart.servlet.CreateOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrder</servlet-name>
    <url-pattern>/CreateOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.cart.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterSuccess</display-name>
    <servlet-name>RegisterSuccess</servlet-name>
    <servlet-class>com.cart.servlet.RegisterSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterSuccess</servlet-name>
    <url-pattern>/RegisterSuccess</url-pattern>
  </servlet-mapping>
</web-app>